<div id="sideNav">
	
	<!-- contacts side nav -->
	<i class="material-icons open">contacts</i>

	<!-- hidden by default -->
	<div class="contentWrap hide">
		<i class="material-icons close">&#xE5CD;</i>

		<div class="titleWrap">
			<span class="img"></span>
			<span class="title">Drew Peterson</span>
		</div>
 
		<!-- contact -->
		<div class="contactWrap"> 
			<ul class="contacts">

				<a class="contact" href="{{contact.url}}" target="newTab" ng-repeat="contact in SN.contacts">
					<img src="{{contact.icon}}" alt="logo" class="icon">
					<span class="link">{{contact.link}}</span> 
				</a>				

			</ul>
		</div>
	</div>

	<!-- mask -->
	<div id="sideNavMask" class="hide"></div>

</div>