<div id="sideNav">
	
	<div class="contentWrap">
		<span class="close">X</span>

		<div class="titleWrap">
			<span class="img"></span>
			<span class="title">Drew Peterson</span>
		</div>
 
		<!-- contact -->
		<div class="contactWrap">
			<ul class="contacts">
				<li class="contact" ng-repeat="contact in SN.contacts">
					<span class="icon">{{contact.icon}}</span>
					<span class="link">{{contact.link}}</span> 
				</li>
			</ul>
		</div>
	</div>

	<!-- mask -->
	<div class="mask"></div>

</div>