<main-header></main-header>

<div class="main-content" style="padding-top: 60px;" ng-controller="projects as projectCtrl"> 
	
	<!-- <h1>Website</h1> -->
	
	<div class="selector">
		
		<!-- projects -->
		<div class="tab website selected">
			<div class="projectsWrap">
				<project ng-repeat="project in projectCtrl.projects"></project>
			</div>
		</div>		

		<!-- side projects -->
		<div class="tab sideProject">
			<div class="projectsWrap">
				<project ng-repeat="project in projectCtrl.sideProjects"></project>
			</div>
		</div>
	</div>



</div>