<div class="project">

	<div class="contentWrapper">
		<!-- image -->
		<div class="imgWrap">
			<img class='img' src="{{project.img}}" alt="">
		</div>

		<!-- content -->
		<div class="content">
			<h2 class="name">{{project.name}}</h2>
			
			<div class="iconWrap">
				<a class="icon" href="{{project.url.url}}">W</a> 
				<a class="icon" href="{{project.github.url}}">G</a> 
			</div>

			<p class="description">{{project.description}}</p>
			<div class="tags">
				<span class="tag" ng-repeat="tag in project.tags">{{tag}}</span>
			</div>
		</div> 
	</div>
</div>