#mainHeader .headerContent {
	position: absolute;
	bottom: 0px;
	color: white;
	padding: 20px 20px 10px;
}


#mainHeader .headerContent {
	@include desktop {
		height: 100%;
		background: rgba(0,0,0,0.5);
		display: flex;
		padding-right: 75px;
	}

	.contentWrapper {
		@include desktop {
			margin-top: auto;
		}
	}

	.img{
		width: 40%; 
		margin-bottom: 10px;
		border-radius: 50%;

		@include desktop {
			width: 50%;
		}
	}
	
	.name,
	.title {
		font-weight: normal;
		text-transform: uppercase;
	}


	.name{
		@include desktop {
			font-size: $lg;	
		}
	}

	.title{
		padding-top: $msm;
		@include desktop {
			font-size: 1.2rem;
			padding-bottom: $msm;
		}
	}
}
