#mainHeader .headerSocial {
	height: 40px;
	position: absolute;
	bottom: -40px;
	margin: 0;
	padding: 0;
	width: 100%;

	.iconWrap {
		display: flex;
		justify-content: space-between;
	}

	.icon {
		background: gray;
		height: 40px;
		width: 25%;
		line-height: 40px;
		text-align: center;
		color: white;
		cursor: pointer;

		&:hover {
			@include desktop {
				transition: all 0.35s ease-in-out;
				@include hover-shadow();
				transform: scale(1.05);

			}
		}
		
		&:nth-child(1){
			background: darken(gray, 10%);
		}
		&:nth-child(2){
			background: darken(gray, 20%);
		}
		&:nth-child(3){
			background: darken(gray, 30%);
		}
		&:nth-child(4){
			background: darken(gray, 40%);
		}
	}
}


#mainHeader .headerSocial .icon-details {
	background: $orange;
	color: white;
	height: 0px;
	overflow: hidden;
	line-height: 40px;
	padding: 0 10px;
	transition: 0.35s all ease-in-out;

	&.show {
		height: 40px;
	}
	&.show.show-add {
		height: 0px;
	}

	&.show.show-add.show-add-active {
		height: 40px;
	}
}



