#mainHeader .headerContent {
	position: absolute;
	bottom: 0px;
	color: white;
	padding: 20px 20px 5px;
}


#mainHeader .headerContent {
	@include tablet {
		height: 100%;
		background: rgba(0,0,0,0.5);
		display: flex;
		flex-direction: column;
		justify-content: flex-end; // align to bottom
	}

	.img{
		width: 100px; 
		margin-bottom: 10px;
		border-radius: 50%;

		@include tablet {
			width: 140px;
		}

		@include desktop {
			width: 170px;
		}
	}
	
	.name,
	.title {
		font-weight: normal;
		text-transform: uppercase;
	}


	.name{
		@include tablet {
			font-size: $lg;	
		}
	}

	.title{
		padding-top: $msm;
		@include tablet {
			font-size: 1.2rem;
			padding-bottom: $msm;
		}
	}
}
