#mainHeader .headerSocial {
	height: 40px;
	position: absolute;
	bottom: -40px;
	margin: 0;
	padding: 0;
	width: 100%;

	&.fixed {
		transition: all 0.5s ease-in-out;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
		height: 60px;

		background-color: $blue;
		padding-left: 20px;
		display: flex;
		align-items: center;
		@include box-shadow;

		.img {
			display: inline-block;
		}

		.iconWrap {
			width: 50%;
			margin-left: auto;
		}

		.icon {
			background: none !important;
			color: $white;
		}
	} 
}






#mainHeader .headerSocial .img {
	display: none;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

#mainHeader .headerSocial .iconWrap {
	display: flex;
	justify-content: space-between;

	.icon {
		background: gray;
		height: 40px;
		width: 25%;
		line-height: 40px;
		text-align: center;
		color: white;
		cursor: pointer;

		&:hover {
			@include desktop {
				transition: all 0.35s ease-in-out;
				@include hover-shadow();
				transform: scale(1.05);

			}
		}

		
		&:nth-child(1){
			background: darken(gray, 10%);
		}
		&:nth-child(2){
			background: darken(gray, 20%);
		}
		&:nth-child(3){
			background: darken(gray, 30%);
		}
		&:nth-child(4){
			background: darken(gray, 40%);
		}
	}
}


#mainHeader .headerSocial .icon-details {
	background: $blue;
	color: white;
	height: 0px;
	overflow: hidden;
	line-height: 40px;
	padding: 0 10px;
	transition: 0.35s all ease-in-out;

	&.show {
		height: 40px;
	}
	&.show.show-add {
		height: 0px;
	}

	&.show.show-add.show-add-active {
		height: 40px;
	}
}



