#mainHeader {
	position: relative;
	top: 0;
	left: 0;
	right: 0;

	height: 300px;

	background: url('https://lh3.googleusercontent.com/4cCYNGyk2Dtbv2V6c2kKJNRaK2wTGsQqCYfJ_A6ozs9nIjXjwL2Qh3aoM6zOIoXIaLSJ5Zs-iF5yOfFjhxs61risKHsKl-FvcgSfapk5g2qiXXhKBLlC8ScVUKkYEQ56NDCZ3XQZnbeU5yXZe8tfjfU1e8jtnZi_oA8D2VIK3hPpphNbMHJ-Mt_3NS1Ivf1AdQcGIWSX942GxyVSZ37u5xHXTGADLJw2-wyFrCDmxpkYPyEw6MjtqswrvngVnag3pbhWy3gpzvC6vchlA0Jrwb9kNfmHQv6i-5jI6V6kcxjfoah0qIUjBZimwWfg9LjN1KZve1YvXfrO1sazu9GgtLQEMUbAjgZ0E13MCR5tbEt9_XP4rocrrfKjG11Rfkhd4RhvK7KWPhNqh05Gd0zT6A7NvdpSZwRHcAVKNrfjc5lwUL5JT3b-agsRSVFJNTxFXIvLy0DCZkpWp9Pi5cM-RArUwQK3zJaCnFwpkQXA09Zi-auYsMtQ71MFQ34UN6YxX1P5f4OANY5G57tXOR1aVxcSef3Wv-SCbna1ZgiZE6_VE9hT6XarYUu2jqRlE_4fAWsaJ9z-zQShKw0baUWBJlOENhPSU3AM=w1600-h1200-no');
	background-size: cover;
	background-position: bottom;


	@include tablet {
		height: 55vh;
		background-position: 50% 70%;
	}

	@include desktop {
		height: 65vh;
	} 
}