#scrollHeader {
	background: $blue;
	color: $white;
	padding: 0 5%;
	height: 50px;
	width: 100%;
	z-index: 900;
	max-width: 1680px;

	display: flex;
	align-items: center;

	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);

	@include tablet {
		height: 70px;
	}

	// animation ====================
	transition: 0.75s all ease-in-out;

	&.ng-enter{
		top: -60px;
		opacity: 0;
	}
	&.ng-enter.ng-enter-active{
		top: 0;
		opacity: 1;
	}
	&.ng-leave{
		top: 0;
		opacity: 1;
	}
	&.ng-leave.ng-leave-active{
		top: -60px;
		opacity: 0;
	}

}

// content
#scrollHeader  {

	.img {
		font-size: 0;
		height: 40px;
		width: 40px;
		border-radius: 50%;

		@include tablet {
			height: 50px;
			width: 50px;
		} 
	}

	.name {
		margin-left: $med;
		text-transform: uppercase;

		@include tablet {
			font-size: 1.3rem;
		}
	}
}