.main-content {
}



.project {
	background: $white;
	height: 400px;
	margin-bottom: $lg;
}

.project .contentWrapper {
	position: relative;
	height: 100%;
}

.project .imgWrap {
	height: 200px;

	.img {
		height: 100%;
		width: 100%;
	}
}


.project .content {
	height: 270px;
	background: $white;
	position: absolute;
	width: 90%;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0px;
	padding: 10px;
	@include hover-shadow();
	text-align: center;
	
	.name {
		font-size: 1.5rem;
		color: $blue;
		font-weight: bold;
		// text-transform: uppercase;
	}
	.description {
		line-height: 1.25;
		padding: $med 0;
		color: $gray;
	}

	&:after {
		// content: '';
		display: block;
		position: absolute;
		left: -15px;
		right: -15px;
		bottom: -20px;
		height: 20px;
		background: $white;
	}
}

.project .content .iconWrap {
	padding: $msm 0;
	.icon {
		display: inline-block;
		width: 30px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		background: $lightGray;
		border-radius: 50%;
		color: $white;
	}
}



// tags
.project .tags {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.tag {
		display: inline-block;
		padding: $sm $msm;
		background: $blue;
		color: $white;
		margin-bottom: $sm;
		border-bottom: 3px solid $gray;
		border-radius: $sm;

	}
}




