
.projectsWrap {
	@include tablet {
		display: flex;
		width: 90%;
		margin: 0 auto;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.project {
	background: $white;
	margin-bottom: $mlg;
	@include tablet {
		width: 48%;
	}
	@include desktop {
		width: 32%;
	}
}

.project .contentWrapper {
	position: relative;
	height: 100%;
}

.project .imgWrap {
	height: 200px;

	.img {
		background-size: cover;
		background-position: 50% 50%;
		height: 100%;
		width: 100%;
	}
}


.project .content {
	background: $white;
	position: relative;
	top: -60px;
	margin-bottom: -60px;
	width: 90%;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0px;
	padding: 10px;
	@include box-shadow-med();
	text-align: center;
	
	.name {
		font-size: 1.5rem;
		color: $blue;
		font-weight: bold;
		// text-transform: uppercase;
	}
	.description {
		line-height: 1.25;
		padding: $med 0;
		color: $gray;
	}

	&:after {
		content: '';
		display: block;
		position: absolute;
		left: -15px;
		right: -15px;
		bottom: -20px;
		height: 20px;
		background: $white;
	}
}

.project .content .iconWrap {
	display: flex;
	align-items: center;
	justify-content: center;

	.icon {
		display: inline-block;
		&.web {
			i {
				color: $black;
				font-size: 37px;
			}
		}
		&.github {
			margin-left: $msm;
			
			img {
				height: 32px;
			}
		}
	}
}

// show hover ======
.project .iconWrap .icon:hover + .hoverWrap .hover {
	visibility: visible;
	opacity: 1;
}

// hover =========
.project .hoverWrap {
	position: relative;
	.hover {
		position: absolute;
		display: inline-block;
		background: $blue;
		color: $white;
		padding: $sm; 

		transition: 0.35s all ease-in-out;
		transition-delay: 0.4s;

		opacity: 0;
		visibility: hidden;

		&.website {
			left: 33%;
			@include desktop {
				&.show {
					visibility: visible;
					opacity: 1;
				}
			}
		}

		&.github {
			left: 48%;
			@include desktop {
				&.show {
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}
}



// tags
.project .tags {
	display: flex;
	flex-wrap: wrap;

	.tag {
		flex: 1;
		display: inline-block;
		padding: $sm $msm;
		background: $blue;
		color: $white;
		margin-bottom: $msm;
		margin-left: $msm;
		border-bottom: 3px solid $gray;
		border-radius: $sm;

	}
}




