
.projectsWrap {
	@include tablet {
		display: flex;
		width: 90%;
		margin: 0 auto;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.project {
	background: $white;
	margin-bottom: $mlg;
	@include tablet {
		width: 48%;
	}
	@include desktop {
		width: 32%;
	}
}

.project .contentWrapper {
	position: relative;
	height: 100%;
}

.project .imgWrap {
	height: 200px;

	.img {
		background-size: cover;
		background-position: 50% 50%;
		height: 100%;
		width: 100%;
	}
}


.project .content {
	background: $white;
	position: relative;
	top: -60px;
	margin-bottom: -60px;
	width: 90%;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0px;
	padding: 10px;
	@include box-shadow-med();
	text-align: center;
	
	.name {
		font-size: 1.5rem;
		color: $blue;
		font-weight: bold;
		// text-transform: uppercase;
	}
	.description {
		line-height: 1.25;
		padding: $med 0;
		color: $gray;
	}

	&:after {
		content: '';
		display: block;
		position: absolute;
		left: -15px;
		right: -15px;
		bottom: -20px;
		height: 20px;
		background: $white;
	}
}

.project .content .iconWrap {
	padding: $msm 0;
	display: flex;
	align-items: center;
	justify-content: center;

	.icon {
		display: inline-block;
		&.web {
			height: 32px;
			width: 32px;
			i {
				color: $gray;
				font-size: 35px;
				@include desktop {
					&:hover {
						transition: 0.35s all ease-in-out;
						color: $black;
					}
				}
			}
		}
		&.github {
			height: 32px;
			width: 32px;
			margin-left: $msm;
			background-color: $gray;
			-webkit-mask-image: url('../images/github.png');
			mask-repeat: no-repeat;

			@include desktop {
				&:hover {
					transition: 0.35s all ease-in-out;
					background-color: $black;
				}
			}
		}
	}
}

// show hover ======
.project .iconWrap .icon:hover + .hoverWrap .hover {
	visibility: visible;
	opacity: 1;
}

// hover =========
.project .hoverWrap {
	.hover {
		position: absolute;
		display: inline-block;
		background: $blue;
		color: $white;
		padding: $sm;

		transition: 0.35s all ease-in-out;
		transition-delay: 0.4s;

		opacity: 0;
		visibility: hidden;

		&.website {
			left: 33%;

			@include desktop {
				&.show {
					visibility: visible;
					opacity: 1;
				}
			}
		}

		&.github {
			left: 48%;

			@include desktop {
				&.show {
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}

	.hover:after {
		content: '';
		display: block;
		position: absolute;
		top: -10px;
		left: 50%;
		transform: translateX(-50%);
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid $blue;
	}
}



// tags
.project .tags {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.tag {
		display: inline-block;
		padding: $sm $msm;
		background: $blue;
		color: $white;
		margin-bottom: $sm;
		border-bottom: 3px solid $gray;
		border-radius: $sm;

	}
}




